<!doctype html>
<html>
<head>
    <meta charset="gbk"/>
    <title>{title}</title>
    <base target="_blank"/>

    <!-- Style dependency. -->
    <link rel="stylesheet" href="{tbsp}"/>

    <!-- Script dependency. -->
    <script src="{lib}"></script>
</head>
<body>
<div id="page">

    <div id="header"></div>

    <div id="content">
        <!--Particular code START-->

        <!--Particular style for current page.-->
        <link rel="stylesheet" href="{css}"/>

        <!--Content START-->

        <!--Content END-->

        <!--Particular script for current page.-->
        <script src="{js}"></script>
        <script>

        </script>

        <!--Particular code END-->
    </div>

    <div id="footer"></div>
</div>
</body>
</html>