<!doctype html>
<html>
<head>
    <meta name="author" content="Digu"/>
    <meta name="email" content="pushiming@gmail.com"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>{title}</title>
    <base target="_self"/>

    <!-- Style dependency. -->
    <link rel="stylesheet" type="text/css" href="{css}"/>
    <!-- Particular style for current page. -->
    <link rel="stylesheet" type="text/css" href="{css}"/>
    <style type="text/css">

    </style>

</head>
<body>

<div id="page">

    <div id="header">

    </div>
    <!--#header END-->

    <div id="content">

    </div>
    <!--#content END-->

    <div id="footer">

    </div>
    <!--#footer END-->
</div>

<!--Script dependency.-->
<script type="text/javascript" src="{js}"></script>
<!--Particular script for current page.-->
<script type="text/javascript" src="{js}"></script>
<script type="text/javascript">

</script>
</body>
</html>